@font-face {
  font-family: 'null';
  src: url('../assets/d.woff2') format('woff2');
}
html {
  height: 100%;
  font-size: 10px;
  font-family: "Heiti TC", "null", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  padding: 0;
  margin: 0;
}
html * {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #333;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  color: #ddd;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input,
select,
textarea {
  font-family: inherit;
}
#app {
  display: block;
  position: relative;
  z-index: 1;
  padding: 5rem 0 6rem 0;
  height: 100%;
  width: 100%;
}
#app header,
#app footer {
  position: absolute;
  width: 100%;
}
#app .page {
  height: 100%;
}
header {
  top: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
header .logo {
  padding-left: 1rem;
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}
header .search {
  background-color: #fff;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 32px;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  padding: 0 8px;
}
header .search .search-bar {
  color: #999;
  cursor: pointer;
}
header .search input {
  background: none;
  border: none;
  outline: none;
  width: 10em;
  font-size: 14px;
}
header .tools {
  width: 42px;
  height: 32px;
  padding-right: 10px;
}
header .tools > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}
header .tools > div .album {
  width: 100%;
  height: 100%;
  display: block;
  background: no-repeat center;
  background-size: cover;
  border-radius: 50%;
}
header .tools > div .no-pic {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.album-transition {
  transition: all .25s ease;
  opacity: 1;
  transform: translate3D(0, 0, 0);
}
/* .album-enter 定义进入的开始状态 */
/* .album-leave 定义离开的结束状态 */
.album-enter,
.album-leave {
  opacity: 0;
  transform: translate3D(100%, 0, 0);
}
footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  bottom: 0;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  z-index: 2;
}
footer .info {
  width: 7em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
footer .controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 136px;
  top: 0;
  left: calc(50% - 68px);
  z-index: 3;
}
footer .controls .item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
footer .controls .btn {
  color: #ccc;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #222;
  cursor: pointer;
  transition: background .5s, color .5s;
}
footer .controls .btn:hover {
  background-color: #111;
  color: #fff;
}
footer .controls .play .btn {
  width: 42px;
  height: 42px;
}
footer .play-model {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}
footer .play-model .fa:first-child {
  cursor: pointer;
}
footer .play-model .fa-list {
  cursor: pointer;
  margin-left: 10px;
}
footer .progress-block {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
footer .progress-block .progress {
  display: inline-block;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}
.page.search {
  padding-bottom: 30px;
}
.page.search ul {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 10px;
}
.page.search ul::-webkit-scrollbar {
  background-color: #333;
  width: 8px;
}
.page.search ul::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
  cursor: pointer;
}
.page.search ul li {
  height: 6.66666667%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page.search ul li .info {
  display: flex;
  width: 100%;
  align-items: center;
}
.page.search ul li .info .name {
  display: inline-block;
  width: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.page.search ul li .info .album-name {
  width: calc(8em + 20px);
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.page.search ul li .info .artists {
  flex-shrink: 0;
  width: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page.search ul li .btn-area {
  flex-shrink: 0;
  padding-left: 20px;
  width: 31px;
}
.page.search ul li .btn-area .fa {
  cursor: pointer;
}
.page.play {
  display: flex;
  flex-direction: column;
  position: relative;
}
.page.play .cover,
.page.play .lyric {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
}
.page.play .lyric {
  align-items: center;
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);
}
.page.play .lyric span {
  color: #fff;
  font-size: 18px;
}
.page.play .lyric i.close {
  position: absolute;
  color: #eee;
  font-size: 24px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.page.play .cover {
  padding-top: 30px;
}
.page.play .cover .cd {
  display: flex;
  position: relative;
  width: 240px;
  height: 240px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 20px 20px 100px rgba(255, 255, 255, 0.3) inset;
  cursor: pointer;
  animation: cd-rotate 60s linear infinite;
  animation-play-state: paused;
}
.page.play .cover .cd.playing {
  animation-play-state: running;
}
.page.play .cover .cd:before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  border-radius: 50%;
}
.page.play .cover .cd:after {
  content: '';
  position: absolute;
  width: 220px;
  height: 220px;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  border-radius: 50%;
}
.page.play .cover .cd span {
  display: block;
  position: relative;
  z-index: 6;
  width: 128px;
  height: 128px;
  background: no-repeat center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7) inset;
}
.page.play .spectrum {
  position: absolute;
  opacity: .2;
  width: 100%;
  height: 100%;
  padding: 10px 5px 0 5px;
  flex-shrink: 0;
  z-index: 2;
}
@-webkit-keyframes cd-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
