@font-face {
  font-family:'null';
  src: url('../assets/d.woff2') format('woff2');
}

html {
  font-size: 10px;
  font-family: "Heiti TC", "null", "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

body {
  height: 100%;
  background-color: #333;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  color: #ddd;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, select, textarea {
  font-family: inherit;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  * {
    box-sizing: border-box;
  }
}

@import "header";
@import "home";
