.page.search {
  padding-bottom: 30px;
  ul {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px;
    &::-webkit-scrollbar {
      background-color: #333;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #999;
      border-radius: 4px;
      cursor: pointer;
    }
    li {
      height: 100% / 15;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .info {
        display: flex;
        width: 100%;
        align-items: center;
        .name {
          display: inline-block;
          width: 6em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .album-name {
          width: ~'calc(8em + 20px)';
          padding: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .artists {
          flex-shrink: 0;
          width: 6em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .btn-area {
        flex-shrink: 0;
        padding-left: 20px;
        width: 31px;
        .fa {
          cursor: pointer;
        }
      }
    }
  }
}