<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>foobar</title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/app.css">
</head>
<body>
<div id="app">
    <app-header></app-header>
    <router-view></router-view>
    <app-footer></app-footer>
</div>
<template data-ref="header">
    <header><a class="logo">&#x266a;</a><input type="search" v-model="keyword" @keyup.enter="searchSongs"><div class="tools"><a class="fa fa-remove"></a></div></header>
</template>
<template data-ref="home">
    <div class="page home">
    </div>
</template>
<template data-ref="search">
    <div class="page search">
        <ul>
            <li v-for="song in songs" @click="play(song)">{{song.name}}-{{song.artists[0].name}}</li>
        </ul>
    </div>
</template>
<template data-ref="play">
    <div class="page play">
        <div class="spectrum">
            <canvas></canvas>
        </div>
        <div class="cover"></div>
    </div>
</template>
<template data-ref="footer">
    <footer></footer>
</template>
<script src="./app.js"></script>
</body>
</html>